<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="store-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de Clientes</h1>
        <img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/png/512/1146/1146273.png" alt="" />
        <button on-click = "obtenerClientes" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Obtener clientes</button>
      </div>
      <br></br>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items={{clientes}}>
            <tr>
              <td>[[item.idcliente]]</td>
              <td>[[item.nombre]]</td>
              <td>[[item.apellido]]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class StoreClientes extends Polymer.Element {
      static get is() { return 'store-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET","http://localhost:3000/movimientos", false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
      }
      anadirClientes(){
        var request = new XMLHttpRequest();
        request.open("POST", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {"CustomerID":"12345", "ContactName":"Pepe", "CompanyName":"Pepe's Bar"};
        var body = JSON.stringify(nuevoCliente); //convierte a objeto JSON
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(StoreClientes.is, StoreClientes);
  </script>
</dom-module>
